[submodule "OCA/management-system"]
	path = OCA/management-system
	url = git@github.com:OCA/management-system.git
	branch = 12.0

[submodule "OCA/knowledge"]
	path = OCA/knowledge
	url = git@github.com:OCA/knowledge.git
	branch = 12.0
[submodule "l10n_ar"]
	path = l10n_ar
	url = git@github.com:odoo-mastercore/l10n_ar.git
	branch = 12.0
