[submodule "OCA/management-system"]
	path = OCA/management-system
	url = git@github.com:OCA/management-system.git
	branch = 12.0

[submodule "OCA/knowledge"]
	path = OCA/knowledge
	url = git@github.com:OCA/knowledge.git
	branch = 12.0
